body {
  margin: 0;
  background-image: url("./images/background.png");
  flex: auto;
  text-align: center;
}

.App {
  text-align: center;
}

header {
  font-family: 'Epilogue';
  font-style: normal;
  font-size: 40px;
  color: #ffffffdb;
  margin-top: 70px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  text-shadow: rgb(169, 137, 8) 1px 0 7px, 0 0 2em rgba(98, 188, 96, 0.815), 0 0 0.1em rgba(98, 188, 96, 0.815);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-size: 50px;
  line-height: 150%;
  color: #ffffff;
  border: solid 1px #ffffff7d;
  width: 800px;
  height: 90px;
  border-radius: 17px;
  margin: 100px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  box-shadow: 3px 0px 15px 2px rgba(98, 188, 96, 0.815);
}

.solar-system {
  align-items: center;
}

.all-planets {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.planet-name {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.Mercúrio {
  width: 41px;
  height: 31px;
}

.Vênus {
  width: 102px;
  height: 76px;
}

.Terra {
  width: 106px;
  height: 79px;
}

.Marte {
  width: 66px;
  height: 50px;
}

.Júpiter {
  width: 252px;
  height: 204px;
}

.Saturno {
  width: 262px;
  height: 211px;
  transform: rotate(-16.53deg);
}

.Urano {
  width: 144;
  height: 109px;
}

.Netuno {
  width: 144;
  height: 107px;
}

.all-missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mission-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  border: solid 1px #ffffff7d;
  width: 354px;
  height: 211px;
  border-radius: 17px;
  margin: 20px;
  font-weight: 500;
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  box-shadow: 3px 0px 15px 2px rgba(96, 137, 188, 0.815);
}

.mission-card p {
  height: 25px;
  margin: 7px;
  text-align: left;
  padding-left: 30px;
}

.mission-name {
  border-bottom: solid 1px #ffffff7d;
  font-size: 23px;
  font-weight: 800;
  padding-bottom: 15px;
}
